<section id="header-wrapper">
    <div id="header">
        <div id="clock"></div>
        <div id="rss">
            <span class='feed-box'>
                <span class='feed-box-in'>
                    <span class='feed-quarter-circle-big'>
                        <span class='feed-quarter-circle-small'>
                            <span class='feed-circle'>&nbsp;</span>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>
</section>