<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gorthon's Blog</title>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
    <script src="/static/js/third/jquery-1.7.2.min.js"></script>
    <script src="/static/js/404.js"></script>
    <link href="/static/css/404.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header"></div>
    <canvas width="720" height="600" id="404-canvas"></canvas>
    <!--
    <div id="poem-u"><p>The Zen of <span>Python</span>, by Tim Peters</p>
        <p>Beautiful is better than ugly.</p>
        <p>Explicit <span>is</span> better than implicit.</p>
        <p>Simple is better <span>th</span>an compl<span>e</span>x.</p>
        <p>Complex is better than complicated.</p>
        <p>Flat is <span>be</span>tter than ne<span>st</span>ed.</p>
        <p>Sparse is better than dense.</p>
        <p>Readability counts.</p></div>
    <a href="/" id="img404" title="返回首页"></a>
    <div id="poem-d"><p>Specia<span>l</span> cases <span>a</span>ren't special e<span>n</span>ou<span>g</span>h to break the r<span>u</span>les.</p>
        <p><span>A</span>lthou<span>g</span>h practicality b<span>e</span>ats purity.</p>
        <p>Errors should never pass silently.</p>
        <p>Unless explicitly silenced.</p>
        <p><span>In the</span> face of ambiguity, refuse the temptation to guess.</p>
        <p>There should be one-- and preferably only one --obvious <span>w</span>ay to do it.</p>
        <p>Although that way may n<span>o</span>t be obvious at first unless you're Dutch.</p>
        <p>Now is better than never.</p><p>Although never is often better than *right* now.</p>
        <p>If the implementation is ha<span>r</span>d to explain, it's a bad idea.</p>
        <p>If the imp<span>l</span>ementation is easy to explain, it may be a good idea.</p>
        <p>Namespaces are one honking great i<span>d</span>ea -- let's do more of those<span>!</span></p></div>
        -->
    <div id="separator"></div>
</body>
</html>
