<script src="/static/js/profile.js"></script>
<script src="/static/js/third/hashlib.js"></script>
<link href="/static/css/profile.css" rel="stylesheet" type="text/css" />

<div id="body-profile" class="box-container">
        <a class="blue">
            <label>原有密码</label>
            <input type="password" id="old" placeholder="╮(╯3╰)╭"/>
        </a>
        <a class="orange">
            <label>新的密码</label>
            <input type="password" id="new" placeholder='\("▔□▔)/'/>
        </a>
        <a class="red">
            <label>确认密码</label>
            <input type="password" id="confirm" placeholder="╭(￣m￣*)╮"/>
        </a>
        <a class="cyan">
            <label>提交</label>
            <input type="password" id="submit" placeholder="╰(￣▽￣)╮" disabled="true"/>
        </a>
</div>
